@charset "UTF-8";

/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{margin-right:40px;
margin-left: 40px;
margin-bottom:.0001pt;
line-height:140%;
font-size:16.0pt;
font-family:'Roboto';
text-align: justify;
color: rgba(0, 0, 0, 0.7);
}


a:hover {
  text-decoration: none;
}

.gif {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.gif1 {
  justify-content: space-around; 
}

figcaption#bateria {
  background-color: rgba(255, 255, 255, 0.5);
  width: 91%;
  margin: 1% 0% 2% -20%;
}

figcaption#bateria p {
  font-family: 'Roboto';
  font-size: 20pt;
  left: 0px;
  font-weight: bold;
  padding-top: 0%;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 4%; 
}

figcaption#bateria h1 {
  font-family: 'Roboto';
  font-size: 20pt;
  padding-left: 5%;
  font-weight: bold;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}

h1#titulo {
  margin-top:18.0pt;
  margin-right:0px;
  margin-bottom:20px;
  margin-left:40px;
  line-height:115%;
  page-break-after:avoid;
  font-size:28.0pt;
  font-family: 'Roboto' ;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.6);
}

h2
{margin-top:18.0pt;
margin-right:0cm;
margin-bottom:6.0pt;
margin-left:30px;
line-height:115%;
page-break-after:avoid;
font-size:40.0pt;
background-color: white;
color: rgba(0, 0, 0, 0.8);
font-family:"Roboto";
font-weight:bold;
}