@charset "UTF-8";

/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{margin-right:40px;
margin-left: 40px;
margin-bottom:.0001pt;
line-height:140%;
font-size:16.0pt;
font-family:'Roboto';
text-align: justify;
color: rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
}

.gif {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 10px;
}


h1#titulo {
  margin-top:16.0pt;
  margin-right:0px;
  margin-bottom:20px;
  margin-left:40px;
  line-height:115%;
  page-break-after:avoid;
  font-size:28.0pt;
  font-family: 'Roboto' ;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.6);
}

h2.sub
{margin-top:18.0pt;
margin-right:0cm;
margin-bottom:6.0pt;
margin-left:30px;
line-height:115%;
page-break-after:avoid;
font-size:40.0pt;
background-color: white;
font-family:"Roboto";
font-weight:bold;
}



@page WordSection1
{size:595.45pt 841.7pt;
margin:72.0pt 72.0pt 72.0pt 72.0pt;}

/* List Definitions */
ol
{margin-bottom:0cm;}
ul
{margin-bottom:0cm;}





