@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'Roboto';
    src: url("../_fonts/Roboto-Regular.ttf");
}


body {
    font-family: 'Roboto';
    background-color: white;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0%;
}

div#interface {
    display: flex;
    flex: 1;
    width: inherit;
    background-color: white;
    margin: 0px auto 0px auto;
    padding: 30px 130px 10px 130px;
}

p {
    text-align: justify;
    text-indent: 40px;
}

header#top_bar {
    background-color: #545454;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    align-items: center;
}

header#top_bar h1 {
    float: left;
    margin-right: 30px;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #FFFFFF;
    margin-left: 20px;
    /* margin-right: 350px;
    align-self: flex-end; */
}

.button_top_bar {
    background-color: transparent;
    border-radius: 5px;
    border-color: #FF9033;
    border-width: medium;
    color: #FF9033;
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-size: 15px;
    font-style: bold
    color: #FF9033;
    margin: 10px 2px;
    cursor: pointer;
    font-family:'Roboto'
}

header#cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #ff9034;
}

header#cabecalho img#symboratrans {
    position: absolute;
    width: 432px;
    height: 432px;
    align-self: center;
}


/* Formatação do Menu */


nav#menu {
    display: flex;
    height: 45px;
    background-color: rgb(255, 194, 153);
    justify-content: center;
}

nav#menu ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

nav#menu li {
    height: 100%;
    text-align: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: bold;
}


nav#menu a {
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 11pt;
    margin: 0px 40px 0px 40px;
    padding: 0px 20px 3px 20px;
}


nav#menu a:hover {
    border-bottom: 2px solid rgb(40, 100, 255);
}

/* Formatação das Seções */

/* section#corpo {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 700px;
    float: left;
    border-right: 2px solid #606060;
    padding: 20px;
    margin: 100px 5px 0px 100px;
    flex: 1 3 auto;
} */

#interface > article {
    flex: 1;
    order: 1;
}

#interface > aside {
    flex: 0 0 25%;
    order: 2;
    padding: 1%;
    margin-left: 5%;
    align-self: flex-start;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}



.rel {
    display: flex;
    flex-direction: column;
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgb(40, 100, 255);
    padding-left: 0px;
    font-weight: bold;
}

.po {
    font-family: 'Roboto';
    font-size: 14pt;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.po img {
    width: 100px;
    height: 70px;
}

.po p, .prop p {
    text-indent: 5px;
}

.prop {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 24pt;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: left;
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

article#noticia-principal img#carna {
    width: 100%;
    flex: 0 2 100%;
}

header#cabecalho-artigo h1 {
    font-family: 'Buble';
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 2px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    margin-top: 2px;
}

header#cabecalho-artigo h3 {
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
    margin-left: 2px;
}

/* Formatação para Fotos com Legenda */

figure.foto-legenda {
    position: relative;
    border: px solid black;
    box-shadow: 1px 1px 4px white;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(ff, 90, 34, 0.2) ;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;

}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

figure.linkedin-twitter img {
    width: 35px;
    width: 35px;

}

figure.linkedin-twitter {
    text-align: center;
}


footer#rodape {
    clear: both;
    border-top: #cccccc 1px solid;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto';
    color: white;
    margin-bottom: 5px;
    align-content: center;
}

footer#rodape div.linediv {
    display: flex;
    width: 1000px;
    justify-content: center;
    border-top: 3px solid white;
    align-items: center;
    margin-left: 150px;
    margin-top: 40px;

}

footer#rodape p {
    text-align: center;
    font-weight: bold;

}

footer#rodape img#logoinsta{
    width: 30px;
    height: 30px;
}


footer#rodape img#logoface{
    width: 40px;
    height: 30px;
}

table#tablerodape {
    margin: -150px 40px 10px 330px;
    width: 700px;
    border-spacing: 15px;

}

table#tablerodape th {
    text-align: left;
}

table#tablerodape td {
    margin-top: 20px;
    vertical-align: top;
}

footer#rodape img#footerlogo {
    position: relative;
    margin-top: -30px;
    width: 216px;
    height: 216px;
}
/*
table#tablerodape td.i {
    color: #ffffff;
    background-color: #606060;
    font-weight: bolder;
    text-align: right;
}*/


table#tabelaspec caption {
    color: #888888;
    font-size: 15pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: black;
    font-size: 9pt;
    margin-top: 10px;
}

video#vid01 {
    display: block;
    margin: auto;
    width: 500px;
}

video#vid02 {
    display: block;
    margin: auto;
    width: 400px;
}
